.notFounPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFoundPage__button {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(91, 159, 237);
  border: none;
}

.notFoundPage__button :hover {
  opacity: 0.7;
}

.notFoundPage__title {
  margin: 60px 0;
}
